@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

.taimer_container{
    display: flex;
}

.taimer{
    padding: 30px;
    background-color: rgb(84, 84, 84);
    /* opacity: 0.6; */
    color: rgba(255, 255, 255, 0.605);
    /* border: 10px solid rgba(126, 123, 123, 0.895); */
    border-radius: 20px;
    box-shadow: inset rgba(255, 255, 255, 0.2) 8px 8px 18px 5px,
                inset rgba(0, 0, 0, 0.5) -8px -8px 18px 5px;
}


.time_user{
    border: none;
    padding: 5px;
    font-size: large;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    opacity: 0.6;
    background-color: rgba(84, 84, 84);
    color: rgba(255, 255, 255);
}

.time_user::placeholder {
    font-size: small;
}

.time_user:hover{
    cursor: pointer;
    border: 3px solid white;
    border-radius: 4px;
}

.time_user:focus{
    outline: 0;
}

.taimer_button{
    border: none;
    margin-left: 5px;
    padding: 5px;
    font-size: large;
    font-weight: bolder;
    opacity: 0.6;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    background-color: rgb(84, 84, 84);
    color: white;
}

.taimer_button:hover{
    cursor: pointer;
    border: 3px solid white;
    border-radius: 4px;
}

.taimer_window{
    margin-top: 10px;
    text-align: center;
    font-size: xx-large;
    color: white;
    opacity: 0.6;
}

